<div class="row">
    <div class="col-12 hero_image  d-flex justify-content-center align-items-center">
        <div class="hero_text-container">
            <div class="hero_text">
                <h1>The Leonard-Cohen-Project</h1>
                <div>Songs of love and hate - LIVE</div>
                <div>Die besten Leonard-Cohen-Songs der frühen Jahre</div>
            </div>
        </div>
    </div>
</div>
