<div id="<%= dom_id band_member %>">
  <p>
    <strong>Name:</strong>
    <%= band_member.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= band_member.bio %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= band_member.role %>
  </p>

</div>
