<h1>Editing band member</h1>

<%= render "form", band_member: @band_member %>

<br>

<div>
  <%= link_to "Show this band member", @band_member %> |
  <%= link_to "Back to band members", band_members_path %>
</div>
