<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-10 offset-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3 my-4">

<h1>Band members</h1>

<div id="band_members">
  <% @band_members.each do |band_member| %>
    <%= render band_member %>
    <p>
      <%= link_to "Show this band member", band_member %>
    </p>
  <% end %>
</div>

<%= link_to "New band member", new_band_member_path %>
</div>
</div>
